

ul {
    list-style: none;
}

.transaction-cotainer {
    display: grid;
    grid-template-areas:  
        "description amount date time";
    grid-template-columns: repeat(3, 2fr) 1fr;
    grid-template-rows: auto;
    padding: 10px; 
}

.summary {
    padding: 20px 100px;
}

.summary p {
    padding: 20px 0;
}